@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-body;
  -webkit-tap-highlight-color: transparent;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.content-wrapper {
  transition: background-color 0.25s;
}

